<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
</head>

<body>
    <h1 style="text-align: center;">Formulario de registro </h1>
    <form action="/admin/registrar_cliente" method="post">
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="user_name">
        </div>
        <div>
            <label for="lastname">Apellido:</label>
            <input type="text" id="lastname" name="user_lastname">
        </div>
        <div>
            <label for="nit">Cedula:</label>
            <input type="number" id="nit" name="user_nit">
        </div>
        <div>
            <label for="adress">Direccion:</label>
            <input type="text" id="address" name="user_addres">
        </div>
        

        <button type="submit">Registrar</button>
    </form>
</body>

</html>